.container {
  width: 1400px;
  margin: 0 auto;
}

.box {
  background-color: aqua;
  height: 400px;
  line-height: 400px;
  font-size: 30px;
  padding: 20px;
  border: 1px solid #000;
}

@media screen and (max-width: 1500px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
}